<a href="https://colab.research.google.com/github/Lcarames90/public_projects/blob/main/Housing_Prices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Starting Point**<br>
Noted in the GitHub Readme, we pull the data from the kaggle website using their kagglehub package. The cell below should not be run again as the file has been downloaded to the Colab directory. However, we retain the output information for later.<br><br>
1. **Danish Housing Data 1992-2024 - Credit to Martin Frederiksen & Kaggle** for the data<br>
Source to his working GitHub:<br>https://github.com/MartinSamFred/Danish-residential-housingPrices-1992-2024.git<br>
Kaggle site where I sourced the Data via KaggleHub:<br>https://www.kaggle.com/datasets/martinfrederiksen/danish-residential-housing-prices-1992-2024

2. **US Census Data**<br>This set is to be used for SQL proficiency
<br> Might be worth it to demonstrate general SQL proficiency by creating a MySQL DB locally and leveraging MySQL Workbench to pull query's. Can also demonstrate an ETL pipeline of sorts.
 <br>https://console.cloud.google.com/marketplace/product/united-states-census-bureau/us-census-data?inv=1&invt=AbjsPg

# **Imported Libraries**

In [ ]:
# Additional tools to be added here

import kagglehub
import pandas as pd
import numpy as np
from google.cloud import bigquery
from google.colab import auth

auth.authenticate_user()

In [ ]:
# BigQuery Client
project_id = 'triple-ranger-445620-n1'

client = bigquery.Client(project=project_id)

query_ref_usCensus_1 = ''' SELECT *,
FROM `bigquery-public-data.census_bureau_acs.blockgroup_2018_5yr`

'''
query_01= client.query(query_ref_usCensus_1)

# US Census Data

In [ ]:
# Looking at tables within US_Census Dataset
df_us_census = query_01.to_dataframe()
df_us_census.head()

,geo_id,do_date,total_pop,households,male_pop,female_pop,median_age,male_under_5,male_5_to_9,male_10_to_14,...,high_school_diploma,less_one_year_college,masters_degree,one_year_more_college,employed_pop,unemployed_pop,pop_in_labor_force,not_in_labor_force,armed_forces,civilian_labor_force
0,110010038002,2014-01-01,1793.0,1007.0,848.0,945.0,35.3,105.0,39.0,0.0,...,0.0,17.0,478.0,79.0,1307.0,37.0,1344.0,166.0,0.0,1344.0
1,040190029061,2014-01-01,2483.0,1333.0,1179.0,1304.0,44.4,0.0,56.0,70.0,...,222.0,88.0,395.0,205.0,1461.0,75.0,1545.0,676.0,9.0,1536.0
2,060014223002,2014-01-01,1423.0,629.0,669.0,754.0,35.2,66.0,18.0,17.0,...,40.0,8.0,233.0,203.0,772.0,29.0,801.0,415.0,0.0,801.0
3,240317007193,2014-01-01,3436.0,1199.0,1699.0,1737.0,32.4,15.0,189.0,157.0,...,197.0,107.0,171.0,375.0,2046.0,136.0,2193.0,508.0,11.0,2182.0
4,060371255011,2014-01-01,1762.0,945.0,864.0,898.0,33.2,25.0,13.0,9.0,...,139.0,121.0,120.0,292.0,1279.0,69.0,1348.0,283.0,0.0,1348.0

# **Data Download Catalog**

As exercise continues and we're gathering more data sets, use this cell to maintain trail of action

In [ ]:
# Download latest version
path = kagglehub.dataset_download("martinfrederiksen/danish-residential-housing-prices-1992-2024")

print("Path to dataset files:", path)

*Output Redundancy:*

Danish Dataset

Downloading from https://www.kaggle.com/api/v1/datasets/download/martinfrederiksen/danish-residential-housing-prices-1992-2024?dataset_version_number=3...
100%|██████████| 36.2M/36.2M [00:02<00:00, 14.6MB/s]Extracting files...

Path to dataset files: /root/.cache/kagglehub/datasets/martinfrederiksen/danish-residential-housing-prices-1992-2024/versions/3

# **EDA - DK Housing Prices - 1992 to 2024**

In [ ]:
# Looking at the directory where the parquet was stored and assigned to variable for later use.
# Storing the sampled data as well
!ls /root/.cache/kagglehub/datasets/martinfrederiksen/danish-residential-housing-prices-1992-2024/versions/3

DK_House_Prices = pd.read_parquet('/root/.cache/kagglehub/datasets/martinfrederiksen/danish-residential-housing-prices-1992-2024/versions/3/DKHousingPrices.parquet')
DK_House_Sample = pd.read_csv('/root/.cache/kagglehub/datasets/martinfrederiksen/danish-residential-housing-prices-1992-2024/versions/3/DKHousingPricesSample100k.csv')

In [ ]:
# Looking at the parquet file
DK_House_Prices.info()
DK_House_Prices.head()

In [ ]:
DK_House_Prices.describe()

In [ ]:
DK_House_Prices.isnull().sum()

*Curiosity got the best of me here and I wanted to see if a conversion to CSV would provide additional or cleaner data*