<a href="https://colab.research.google.com/github/Lcarames90/public_projects/blob/main/Housing_Prices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Starting Data Point**<br>
Noted in the GitHub Readme, we pull the data from the kaggle website using their kagglehub package. The cell below should not be run again as the file has been downloaded to the Colab directory. However, we retain the output information for later.<br><br>
**Credit to Martin Frederiksen & Kaggle** for the data<br>
Source to his working GitHub:<br>https://github.com/MartinSamFred/Danish-residential-housingPrices-1992-2024.git<br><br>
Kaggle site where I sourced the Data via KaggleHub:<br>https://www.kaggle.com/datasets/martinfrederiksen/danish-residential-housing-prices-1992-2024

# **Imported Libraries**

In [ ]:
# Additional tools to be added here

import kagglehub
import pandas as pd

# **Data Download Catalog**

As exercise continues and we're gathering more data sets, use this cell to maintain trail of action

In [ ]:
# Download latest version
# path = kagglehub.dataset_download("martinfrederiksen/danish-residential-housing-prices-1992-2024")

# print("Path to dataset files:", path)

Downloading from https://www.kaggle.com/api/v1/datasets/download/martinfrederiksen/danish-residential-housing-prices-1992-2024?dataset_version_number=3...

100%|██████████| 36.2M/36.2M [00:02<00:00, 14.6MB/s]

Extracting files...

Path to dataset files: /root/.cache/kagglehub/datasets/martinfrederiksen/danish-residential-housing-prices-1992-2024/versions/3

*Output Redundancy:*

Danish Dataset

Downloading from https://www.kaggle.com/api/v1/datasets/download/martinfrederiksen/danish-residential-housing-prices-1992-2024?dataset_version_number=3...
100%|██████████| 36.2M/36.2M [00:02<00:00, 14.6MB/s]Extracting files...

Path to dataset files: /root/.cache/kagglehub/datasets/martinfrederiksen/danish-residential-housing-prices-1992-2024/versions/3

# **EDA - DK Housing Prices - 1992 to 2024**

In [ ]:
# Looking at the directory where the parquet was stored and assigned to variable for later use.
# Storing the sampled data as well
!ls /root/.cache/kagglehub/datasets/martinfrederiksen/danish-residential-housing-prices-1992-2024/versions/3

DK_House_Prices = pd.read_parquet('/root/.cache/kagglehub/datasets/martinfrederiksen/danish-residential-housing-prices-1992-2024/versions/3/DKHousingPrices.parquet')
DK_House_Sample = pd.read_csv('/root/.cache/kagglehub/datasets/martinfrederiksen/danish-residential-housing-prices-1992-2024/versions/3/DKHousingPricesSample100k.csv')

DKHousingPrices.parquet  DKHousingPricesSample100k.csv

In [ ]:
# Looking at the parquet file
DK_House_Prices.info()
DK_House_Prices.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1507908 entries, 0 to 1507907
Data columns (total 19 columns):
 #   Column                               Non-Null Count    Dtype
---  ------                               --------------    -----
 0   date                                 1507908 non-null  datetime64[ns]
 1   quarter                              1507908 non-null  period[Q-DEC]
 2   house_id                             1507908 non-null  int64
 3   house_type                           1507908 non-null  category
 4   sales_type                           1507908 non-null  category
 5   year_build                           1507908 non-null  int16
 6   purchase_price                       1507908 non-null  int32
 7   %_change_between_offer_and_purchase  1507908 non-null  float32
 8   no_rooms                             1507908 non-null  int8
 9   sqm                                  1507906 non-null  float32
 10  sqm_price                            1507906 non-null  float32
 11  address                              1507908 non-null  object
 12  zip_code                             1507908 non-null  int16
 13  city                                 1507908 non-null  object
 14  area                                 1507908 non-null  category
 15  region                               1507908 non-null  category
 16  nom_interest_rate%                   1507908 non-null  float32
 17  dk_ann_infl_rate%                    1506715 non-null  float32
 18  yield_on_mortgage_credit_bonds%      1506715 non-null  float32
dtypes: category(4), datetime64[ns](1), float32(6), int16(2), int32(1), int64(1), int8(1), object(2), period[Q-DEC](1)
memory usage: 110.7+ MB

,date,quarter,house_id,house_type,sales_type,year_build,purchase_price,%_change_between_offer_and_purchase,no_rooms,sqm,sqm_price,address,zip_code,city,area,region,nom_interest_rate%,dk_ann_infl_rate%,yield_on_mortgage_credit_bonds%
0,2024-10-26,2024Q4,0,Villa,regular_sale,1974,4350000,0.0,5,215.0,20232.558594,Kildevangen 5,8382,Hinnerup,East & mid jutland,Jutland,3.1,NaN,NaN
1,2024-10-26,2024Q4,2,Summerhouse,regular_sale,1956,450000,0.0,3,36.0,12500.000000,Lykkestien 2,4400,Kalundborg,Other islands,Zealand,3.1,NaN,NaN
2,2024-10-26,2024Q4,1,Farm,regular_sale,1955,6600000,0.0,3,180.0,36666.667969,Sæderupvej 58,9260,Gistrup,North jutland,Jutland,3.1,NaN,NaN
3,2024-10-25,2024Q4,3,Apartment,family_sale,1945,1495000,0.0,2,64.0,23359.375000,"Tage-Hansens Gade 5, 1. tv",8000,Aarhus C,East & mid jutland,Jutland,3.1,NaN,NaN
4,2024-10-25,2024Q4,4,Villa,regular_sale,1967,3375000,0.0,5,176.0,19176.136719,Chr.Winthers Vej 5,8600,Silkeborg,East & mid jutland,Jutland,3.1,NaN,NaN